/*styles sheet sass*/
#form {
  margin: 0 auto;
  text-align: center;
}

#countryList {
  list-style: none;
  text-align: center;
}

body {
  font-family: 'Courgette', cursive;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bolder;
  color: #83C5BE;
}

h1 {
  color: #FFDDD2;
  background-color: #E29578;
  width: 300px;
  border-radius: 6px;
  padding: 60px 50px 50px 60px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

label {
  color: #66B7AF;
  font-size: 20px;
}

input {
  background-color: #EDF6F9;
  border: solid 1px #66B7AF;
  border-radius: 4px;
}

li {
  list-style: none;
}

img {
  width: 400px;
  height: 300px;
  float: left;
}

.contentStyles {
  width: 900px;
  margin: 0 auto;
}

.content {
  background-color: #EDF6F9;
}

#button {
  border: solid 2px #E29578;
  background-color: #FFDDD2;
  padding: 6px 6px 10px 10px;
}
